<div class="col-md 4 offset-md-1">
    <div class="container-fluid">
    <h1>Registration Form</h1>
    <form>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" #name="ngModel" name="username" class="form-control" [class.is-invalid]="name.invalid && name.touched" required placeholder="Enter the Username" ngModel> 
            <small  class="text-danger" [class.d-none]="name.valid || name.untouched">name is required*</small>
        </div>
        <br>
        <div class="form-group">
            <label>Mail:</label>
            <input type="email" #email="ngModel" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,4}$" [class.is-invalid]="email.invalid && email.touched" required placeholder="Enter your email" ngModel> 
            <div *ngIf="email.errors || (email.invalid && email.untouched)">
                <!--<small class="text-danger" *ngIf="email.errors?.['required']">email is required*</small>-->
                <small class="text-danger" *ngIf="email.errors?.['pattern']">entered email is wrong</small>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Password:</label>
            <!--<div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>-->
            <input type="password" #password="ngModel" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [class.is-invalid]="password.invalid && password.touched" required placeholder="Enter the Password" ngModel> 
            <div *ngIf="password.errors || (password.invalid && password.untouched)">
                <!--<small class="text-danger" *ngIf="password.errors?.['required']">password is required*</small>-->
                <small class="text-danger" *ngIf="password.errors?.['pattern']">password is not strong*</small>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Re-Enter Password:</label>
            <input type="password" #password1="ngModel" name="password1" class="form-control" [class.is-invalid]="password1.invalid && password1.touched" required placeholder="Re-Enter the Password" ngModel> 
            <div *ngIf="password1.errors || (password1.invalid && password1.untouched)">
                <!--<small class="text-danger" *ngIf="password1.errors?.['required']">password is required*</small>-->
                <small class="text-danger" *ngIf="password1.errors?.['pattern']">password is not strong*</small>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" (click)="onRegister()">Register</button>
    <br>
        <label>Already have a account</label>
        <button type="submit" class="btn btn-success" (click)="onLogin()">Login</button>
    </form>
    </div>
</div>